html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a[class] {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: "Montserrat Alternates", sans-serif;
}

.header {
    background-image: url(../img/headerbg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}

h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    font-style: italic;
    color: rgb(64, 18, 189);
}

.countdown {
    max-width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 150px auto;
    margin-top: 150px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    font-style: italic;
    color: rgb(168, 3, 168);
}

span {
    font-size: 80px;
    line-height: 80px;
    display: block;
}

.greeting {
    font-size: 56px;
    line-height: 70px;
    color: rgb(61, 11, 11);
}